.nav-bar{
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 30px;
    }
.text{
  margin-left: 20px;
  height: 10px;
  padding-top: 5px;
}
.home{
  margin-left:-1000px;
  background-color: darkblue;
  color: white;
  border: none;
}
.about{
  margin-left:-400px;
  background-color: darkblue;
  color: white;
  border: none;
}
